<div id="<%= dom_id position %>">
  <p>
    <strong>Type:</strong>
    <%= position.type %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= position.code %>
  </p>

  <p>
    <strong>Stock product:</strong>
    <%= position.stock_product_id %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= position.quantity %>
  </p>

  <p>
    <strong>Stock:</strong>
    <%= position.stock_id %>
  </p>

</div>
