<p style="color: green"><%= notice %></p>

<%= render @order_pick %>

<div>
  <%= link_to "Edit this order pick", edit_order_pick_path(@order_pick) %> |
  <%= link_to "Back to order picks", order_picks_path %>

  <%= button_to "Destroy this order pick", @order_pick, method: :delete %>
</div>
