<div id="<%= dom_id invoice %>">
  <p>
    <strong>Supplier:</strong>
    <%= invoice.supplier_id %>
  </p>

  <p>
    <strong>Hash:</strong>
    <%= invoice.hash %>
  </p>

  <p>
    <strong>Emission:</strong>
    <%= invoice.emission %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= invoice.status %>
  </p>

</div>
