<div id="<%= dom_id address %>">
  <p>
    <strong>Type:</strong>
    <%= address.type %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= address.name %>
  </p>

  <p>
    <strong>Street:</strong>
    <%= address.street %>
  </p>

  <p>
    <strong>Complment:</strong>
    <%= address.complment %>
  </p>

  <p>
    <strong>Number:</strong>
    <%= address.number %>
  </p>

  <p>
    <strong>Neighbor:</strong>
    <%= address.neighbor %>
  </p>

  <p>
    <strong>City:</strong>
    <%= address.city %>
  </p>

  <p>
    <strong>State:</strong>
    <%= address.state %>
  </p>

  <p>
    <strong>Zipcode:</strong>
    <%= address.zipcode %>
  </p>

</div>
