<div id="<%= dom_id stock_product %>">
  <p>
    <strong>Product:</strong>
    <%= stock_product.product_id %>
  </p>

  <p>
    <strong>Batch:</strong>
    <%= stock_product.batch %>
  </p>

  <p>
    <strong>Fabrication:</strong>
    <%= stock_product.fabrication %>
  </p>

  <p>
    <strong>Validity:</strong>
    <%= stock_product.validity %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= stock_product.quantity %>
  </p>

  <p>
    <strong>Invoice:</strong>
    <%= stock_product.invoice_id %>
  </p>

</div>
